<p>album works!</p>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Album ejemplo</h1>
        <p class="lead text-body-secondary">A continuacion se mostrara una serie de ejemplos usando componentes, para este ejemplo de albumb se utilizo un componente.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Ver imagenes </a>
          <a href="#" class="btn btn-secondary my-2">Salir</a>
        </p>
      </div>
    </div>
  </section>